<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>איתור הזמנה</title>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
        $(function () {
            $("#header").load("header.html");
            $("#footer").load("footer.html");
        });
    </script>
    <body class="collect">
        <div id="header"></div>
        <!--Content-->
        <script>
            $(document).ready(function () {
                $(".mainContent").css("height", window.innerHeight - ($("#header").innerHeight() + 160));
            });
        </script>
      
          <div class="fluid topmenu">
            <div ng-click="onCollect()" class="topmenuItem topIcon3">איסוף</div>
            <div class="topmenuItem topIcon4red active">איסוף מרוכז</div>
        </div>

        <div class="mainContent">
            <div class="BarcodeFields">
                <form id="collect_joined">
                    <!--<input type="text" id="packageinput4" class="packageinput4" name="packageNum" placeholder="מספר מנוי">-->
                    <md-autocomplete ng-disabled="ctrl.isDisabled"
                                     md-no-cache="ctrl.noCache"
                                     md-selected-item="ctrl.selectedItem"
                                     md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                     md-search-text="ctrl.searchText"
                                     md-selected-item-change="ctrl.selectedItemChange(item)"
                                     md-items="item in ctrl.querySearch(ctrl.searchText)"
                                     md-item-text="item.display"
                                     md-min-length="0"
                                     placeholder="What is your favorite US state?">
                        <md-item-template>
                            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No states matching "{{ctrl.searchText}}" were found.
                            <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                        </md-not-found>
                    </md-autocomplete>  
                       
                     <a ng-click="scan()"><div class="BarcodeArea"></div></a>
                    <div class="greyText2">* במידה והברקוד אינו קריא ניתן להקליד מספר פריט</div>
                    <input type="text" ng-model="inputVal" class="packageinput2" name="packageNum" placeholder="הקלד מספר פריט">
                    <a ng-click="onAddBarcode()"><img class="cameraBtn" src="images/AddBtn.jpg" alt="" /></a><br>
                </form>
                <div class="totalScanItems">
                    <div class="totalScanItemsText">פריטים שנסרקו עד כה</div>
                    <div class="totalScanItemsIcon"><span id="barcodeCount">0</span></div>
                    <div class="totalScanItemsedit" ng-click="open()"><a>הצג</a></div>
                </div>
            </div>
            <div ng-click="onAddBarcode()" class="loginBtn"><a>סיום</a></div>
        </div>
       
         <!--Popup Menu  -->
        <div id="warpPopup">
            <div class="miyunPopup">
                <div class="shiyuchPopupInner">
                    <div ng-click="onXClick()" class="closePop"><img src="images/closePopup.png" alt="" /></div>
                    <br>
                    <strong>פריטים שנסרקו עד כה</strong>
                    <div id="warpList">
                        <ul style="overflow: auto" id="deleteList" class="deleteList"></ul>
                    </div>
                    <div id="warpBtn">
                        <div ng-click="onXClick()" class="loginBtn"><a>סיום</a></div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer-->
        <div id="footer"></div>
