<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>איתור הזמנה</title>
 
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
 
 
<body class="home">
<div id="header"></div>
<!--Content-->
<script>
		$(document).ready(function(){
			$(".mainContent").css("height", window.innerHeight-($("#header").innerHeight()+160));
		});
		</script>
 <div class="fluid topmenu">
 <div class="topmenuItem topIcon1red active">רישום</div>
 <div ng-click="onDisterbute()" class="topmenuItem topIcon2">חלוקה</div>   
</div>

<div class="mainContent">

<div class="BarcodeFields">
<a ng-click="onScan()"><div class="BarcodeArea"></div></a>
<form id="deliver">
<div class="greyText2">* במידה והברקוד אינו קריא ניתן להקליד מספר פריט</div>
     <input type="text" class="packageinput2" name="packageNum" placeholder="הקלד מספר פריט">
     <a ng-click="onAddBarCode()"><img class="cameraBtn" src="images/AddBtn.jpg" alt=""/></a>
  </form>
  <div class="totalScanItems">
    <div class="totalScanItemsText">פריטים שנסרקו עד כה</div>
      <div class="totalScanItemsIcon"><span id="barcodeCount">0</span></div>
      <div class="totalScanItemsedit" ng-click="open()"><a>הצג</a></div>
 </div>
 
</div>
<div class="loginBtn"><a href="#">סיום</a></div>
</div>
    <!--Popup Menu  -->
    <div id="warpPopup">
        <div class="miyunPopup">
            <div class="shiyuchPopupInner">
                <div ng-click="onXClick()" class="closePop"><img src="images/closePopup.png" alt="" /></div>
                <br>
                <strong>פריטים שנסרקו עד כה</strong>
                <div id="warpList">
                    <ul style="overflow: auto" id="deleteList" class="deleteList"></ul>
                </div>
                <div id="warpBtn">
                    <div ng-click="onXClick()" class="loginBtn"><a>אישור</a></div>
                </div>
            </div>
        </div>
    </div>



<!--Footer-->
<div id="footer"></div>
